name: Patch boot

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: # 允许手动触发
  push:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dawidd6/action-download-artifact@v3
      with:
        repo: tiann/KernelSU
        branch: kmod
        workflow: build-lkm.yml
        workflow_conclusion: success
        name: android12-5.10_kernelsu.ko
        path: .

    - uses: dawidd6/action-download-artifact@v3
      with:
        repo: liaoke01/BootIMGExtractAction
        branch: main
        workflow: BootIMGExtractAction.yml
        workflow_conclusion: success
        name: boot.img
        path: .

    - name: Download magiskboot
      run: |
        sudo apt-get update && sudo apt-get install p7zip-full
        wget https://github.com/xiaoxindada/magiskboot_ndk_on_linux/releases/latest/download/magiskboot.7z
        7z x magiskboot.7z .

    - uses: dawidd6/action-download-artifact@v3
      with:
        repo: tiann/KernelSU
        branch: kmod
        workflow: build-ksud.yml
        workflow_conclusion: success
        name: ksud-x86_64-unknown-linux-musl
        path: .

    - uses: dawidd6/action-download-artifact@v3
      with:
        repo: tiann/KernelSU
        branch: kmod
        workflow: build-manager.yml
        workflow_conclusion: success
        name: manager
        path: .

    - name: Set execute permissions and move
      run: |
        ls
        mv x86_64-unknown-linux-musl/release/ksud .
        chmod +x ksud
        chmod +x magiskboot

    - name: Patch boot
      run: |
        file ksud
        file magiskboot
        file boot.img
        file kernelsu.ko
        ./ksud boot-patch -b boot.img -m kernelsu.ko --magiskboot magiskboot

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: boot-and-manager
        path: |
          *.img
          *.apk
